Source: quimup
Section: sound
Priority: optional
Maintainer: Ronald van Engelen <ronalde+launchpad@lacocina.nl>
Build-Depends: cdbs, debhelper (>= 8.0.0), autotools-dev, pkg-config, libpcre3, libmpdclient-dev (>= 2.3), qtbase5-dev (>=5.1), qt5-qmake (>=5.1), libtag1-dev (>=1.7)
Standards-Version: 3.9.2
Homepage: http://coonsden.com/
Vcs-Git: git://github.com/ronalde/quimup.git
Vcs-Browser: https://github.com/ronalde/quimup.git

Package: quimup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmpdclient2 (>= 2.3), libqt5core5a (>=5.1), libqt5network5 (>=5.1), libqt5gui5 (>=5.1), libtag1-vanilla (>=1.7)
Enhances: mpd
Provides: mpd-client
Suggests: mpd
Description: A client for the Music Player Daemon (MPD)
 written in c++ and QT5. The program can be used with most Linux
 desktops (KDE, GNOME, XFCE). 
 .  
 The clean interface makes controlling MPD's features easy and
 intuitive.  The focus is on mouse handling: playlist management is
 done entirely by drag & drop; all playback functions are accessible
 from the system tray.  Quimup aims to turn MPD into a perfect desktop
 music player.


